.chat-container {
    display: flex;
    flex-direction: column;
}

.chat-container chat-full {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.messages {
    flex-grow: 1;
    overflow: auto;
}
  
.input-form {
    flex-shrink: 0;
}
